[output_pin caselight] # https://www.teamfdm.com/files/file/448-superslim-led-bar-with-simple-bracket
# Chamber Lighting
pin: PE5
pwm: true
shutdown_value: 0
value:0.06
cycle_time: 0.0002
# with 0.0002 the min is 5%. 7% seems like a good idle state. 40% for prints. over 60% to 100% all seems to be same brightness
# with 0.0001 the min is 9%. 12% seems like a good idle state. over 60% to 100% all seems to be same brightness
# hardware_pwm: True

[gcode_macro LED_ON]
gcode:
  SET_PIN PIN=caselight VALUE=1
[gcode_macro LED_PCT_IDLE]
gcode:
  SET_PIN PIN=caselight VALUE=0.06
[gcode_macro LED_PCT_PRINT]
gcode:
  SET_PIN PIN=caselight VALUE=0.4
[gcode_macro LED_OFF]
gcode:
  SET_PIN PIN=caselight VALUE=0